# VS Code settings
.vscode/

# Configuration files
config_template.json
config.json

# OS files
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
*.pyo

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Local development files
*.local.*
test_*
